.grid {
  width: 100%;
  max-width: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  place-items: center;
}

.welcome {
  margin: 0;
  text-align: center;
}

.house {
  color: var(--c-primary);
}
