.container {
  text-align: center;
  margin-top: 24px;
}

.sortingHat {
  max-width: 260px;
  margin-bottom: 24px;
}

.textField {
  margin-bottom: 24px;
}

.welcome {
  color: var(--c-primary);
  margin-top: 0;
}

.house {
  color: var(--c-secondary);
}
