.character {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.gryffindor .header {
  background-color: #660000;
}

.hufflepuff .header {
  background-color: #1f1e19;
}

.slytherin .header {
  background-color: #075b4b;
}

.ravenclaw .header {
  background-color: #1b3956;
}

.noHouse .header {
  background-color: #232324;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.school {
  margin-bottom: 1rem;
  text-transform: uppercase;
  height: 1.1rem;
}

.photo {
  & > div:first-of-type {
    border-radius: 50px;
    border: 10px solid white;
  }
}

.content {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  .house {
    color: var(--c-muted);
    font-size: 0.875rem;
  }
}
