.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8vw;
  padding-right: 8vw;

  @media (min-width: 992px) {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  @media (min-width: 1500px) {
    max-width: 87.5rem;
    padding: 0;
  }
}
