.header {
  background-color: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(16px);
}

.container {
  padding: 0.775rem 8vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
  height: 100%;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 4vw;
    align-items: center;
  }

  @media (min-width: 1500px) {
    max-width: 87.5rem;
    padding: 0;
  }
}

.logo {
  svg {
    height: 40px;
  }
}

.nav {
  display: none;
  width: 100%;

  @media (min-width: 992px) {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 992px) {
      flex-direction: row;
    }

    li {
      padding: 0 0.3875rem;
      a {
        padding: 0.775rem 0;
        display: flex;

        &:hover,
        &.active {
          color: var(--c-primary);
        }

        @media (min-width: 992px) {
          padding: 2.325rem 0.775rem;
          border-top: 2px solid transparent;

          &.active {
            border-top: 2px solid var(--c-primary);
          }
        }
      }
    }
  }
}

.hamburger {
  margin-left: auto;

  @media (min-width: 992px) {
    display: none;
  }
}

.open {
  position: fixed;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;

  .nav {
    display: flex;
    font-size: 1.125rem;
  }

  .logo {
    order: 3;
    margin-left: auto;
  }

  .hamburger {
    margin-left: 0;
  }
}
