@import "variables";

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--c-background);
  color: var(--c-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
