:root {
  --c-text: #fff;
  --c-background: #232324;
  --c-primary: #cea54e;
}

.gryffindor:root {
  --c-text: #ffffff;
  --c-background: #660000;
  --c-primary: #e09c09;
}

.hufflepuff:root {
  --c-text: #ffffff;
  --c-background: #1f1e19;
  --c-primary: #ff9d0c;
}

.slytherin:root {
  --c-text: #ffffff;
  --c-background: #075b4b;
  --c-primary: #2f751d;
}

.ravenclaw:root {
  --c-text: #ffffff;
  --c-background: #1b3956;
  --c-primary: #8e501d;
}
