:root {
  --c-primary: #fff;
  --c-secondary: #6e767d;
  --c-text-color: #ffffff;
}

.gryffindor:root {
  --c-primary: #660000;
  --c-secondary: #e09c09;
  --c-text-color: #ffffff;
}

.hufflepuff:root {
  --c-primary: #1f1e19;
  --c-secondary: #ff9d0c;
  --c-text-color: #ffffff;
}

.slytherin:root {
  --c-primary: #2f751d;
  --c-secondary: #cccccc;
  --c-text-color: #ffffff;
}

.ravenclaw:root {
  --c-primary: #1b3956;
  --c-secondary: #8e501d;
  --c-text-color: #ffffff;
}
